

body {
  font-family: "Lato", sans-serif;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  /* height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.sidenav img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


.main {
  position: relative;
  padding: 0px 10px;
}

.login-form {
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 20%;
  }

  .register-form{
      margin-top: 20%;
  }
}

form {
  width: 23rem;
}

.login-main-text{
  margin-top: 20%;
  padding: 60px 0 20px 0;
  color: rgb(32, 32, 32);
}

.login-main-text h2{
  font-weight: 500;
}

.btn-black{
  background-color: rgb(27, 101, 197) !important;
  color: #fff;
}