.top_button button {
    height: 40px;
    width: 150px;
    left: 300px;
    position: relative;
}

.top_button {
    margin-right: 10px;
}

#spoc-pic {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 200px;
}

#topCoursesButton {
    height: 40px;
}

.btn-close {
    border: none;
}