#top-button {
    height: 200%;
    width: 10vw;
    left: 45%;
    overflow: hidden;
    position: relative;
}

.chapter-name img {
    float: left;
    top: 15px;
    right: 23%;
    padding: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chapter-name a {
    position: absolute;
    right: 5%;
    height: 100px;
    top: 18px;
    color: white;
    float: left;
}

.chapter-name a:hover {
    color: white;
    text-decoration: underline;
}

#spoc-pic {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 200px;
}

.btn-close {
    border: none;
}

.card-body {
    float: left;
}