
body{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.top_button button {
    height: 200%;
    width: 10%;
    left:45%;
    overflow: hidden;
    position: relative;
}

#spoc-pic {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 200px;
}

.btn-close {
    border: none;
}