form {
    position: absolute;
    border: 2px solid black;
    width: 50%;
    height: 100%;
    padding: 30px;
    left: 20%;
}

#exampleInputEmail1,
#exampleInputPassword1 {
    width: 50%;
    position: absolute;
}