.card {
    margin-top: 20px;
}

.box {
    float: left;
    position: absolute;
    top: 10%;
    left: 17%;
    height: 100%;
    width: 60%;
    margin-left: 0px;
}

.page-item {
    margin: 5px;
}