.chapter-name img {
    float: left;
    top: 15px;
    right: 23%;
    padding: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chapter-name a {
    position: absolute;
    right: 5%;
    height: 100px;
    top: 18px;
    color: white;
    float: left;
}

.chapter-name a:hover {
    color: white;
    text-decoration: underline;
}